@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../../assets/font/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype");
}

.form-login-container {
  font-style: normal;
  position: relative;
  margin: auto;
  width: 450px;
  height: auto;
  border-radius: 20px;
  border: 3px solid #EEEEEE;
  background: #F3F3F3;
  padding: 30px 16px;
  @media screen and(max-width: 480px) {
    width: 335px;
    height: 263px;
    padding: 30px 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
}

.title-login {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  @media screen and(max-width: 480px){
    font-size: 20px;
    line-height: 24px;
  }
}
.note-send {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  margin-top: 12px;
  @media screen and(max-width: 480px){
    font-size: 10px;
    line-height: 12px;
    margin-top: 4px;
  }
}

.form-cover {
  width: 68%;
  margin: auto;
  height: 36px;
  border: 1px solid rgba(55, 63, 65, 0.5);
  border-radius: 20px;
  margin-bottom: 13px !important;
}

.under-input {
  text-align: center;
  width: 100%;
  min-height: 40px;
  height: auto;
  padding-top: 10px;
  @media screen and(max-width: 480px) {
    min-height: 24px;
    padding-top: 8px;
  }
}

.link-register {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.link-forget-pw {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  align-items: center;
  text-decoration-line: underline;
  color: #1E81EB;
  margin-top: 8px;
  padding-bottom: 20px;
  cursor: pointer;
  display: flex;
}

.note-container {
  width: 140px;
  position: absolute;
  left: 24px;
  bottom: 30px;
}

.text-note {
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  line-height: 10px;
  color: #000000;
}

.text-note p {
  margin-top: -5px;
}

.bnt-note-login {
  width: 21.12px;
  height: 18px;
  background: rgba(203, 108, 78, 0.3);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-right: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.close-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  @media screen and(max-width: 480px){
    right: 10px;
    top: 10px;
  }
}


.invalid-note {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  color: rgba(4, 17, 62, 0.7);
}

.invalid-note label {
  margin-left:24px;
}

.err {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE4D2D;
}


.loading {
  width: 9%;
  margin: auto;
  margin-top: 16px !important;
}


.cover-input {
  width: 384px;
  margin: auto;
  margin-top: 29px !important;
  @media screen and(max-width: 480px){
    width: 310px;
    margin-top: 24px !important;
  }
}

.icon-invalid {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 13px;
}


.text-note-send {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}

.cover-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  @media screen and(max-width: 480px) {
    font-size: 10px;
    margin-top: 8px;
  }
  .link-send {
    text-decoration-line: underline;
    color: #0096C7;
    cursor: pointer;
  }
  .note-no-send {
    color: #000000;
    margin-right: 8px;
  }
}

.code-input-1 {
  --item-border-radius: 10px;
  --item-height: 50px;
  --item-spacing: 12px;
  --item-background: #FFFFFF;
  @media screen and(max-width: 480px){
    --item-height: 40px;
    --item-spacing: 10px;
  }
}
.code-input-2 {
  --item-border-radius: 10px;
  --item-height: 50px;
  --item-spacing: 12px;
  --item-background: #FFFFFF;
  --item-border-has-value: 1px solid #FF8080 !important;
  --item-border-bottom-has-value: 1px solid #FF8080 !important;
  @media screen and(max-width: 480px){
    --item-height: 40px;
    --item-spacing: 10px;
  }
}

.link-send-disable {
  pointer-events: none;
  cursor: default;
  color: grey;
}

.hidden-480 {
  @media screen and(max-width: 480px){
    display: none;
  }
}
.hidden-lager-screen {
  @media screen and(min-width: 480px){
    display: none;
  }
}
