<div class="container-right-body">
    <div class="title-infor">{{'inforBnpl.title' | translate}}</div>
    <div style="width: 100%">
        <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
    </div>
    <div *ngIf = "!isShowGuide" fxLayout="column" class="container-selfie">
        <div class="global-box" fxLayout="column">
            <div class="global-title">
                {{'selfie.labelNid' | translate}}
            </div>
            <div class="cover-input">
                <input type="text"
                       maxlength="12"
                       (mouseout)="handleNid($event)"
                       (change)="handleNid($event)"
                       (keypress)="keyPress($event)"
                       class="global-input"
                       [formControl]="citizenId" appMarginTop="14">
<!--                <img *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.invalid"-->
<!--                     class="img-invalid" src="../../../../assets/images/Warning.png">-->
            </div>
            <div class="error" appMarginTop="8" fxFlexAlign="start">
                <label *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.hasError('required')">
                    {{'selfie.validRequired' | translate}}
                </label>
                <label *ngIf="(citizenId.dirty || citizenId.touched) && citizenId.hasError('pattern')">
                    {{'selfie.validPattern' | translate}}
                </label>
                <label *ngIf="isExistNid">{{'selfie.validExist' | translate}}</label>
            </div>

            <div class="image-title" appMarginTop="24">
                {{'selfie.labelTakePhoto' | translate}}
            </div>
<!--            <div class="background-gray">-->
<!--                <div *ngIf="!(pictureService.selfieImageComplete$ | async)" class="background-green">-->
<!--                    <div class="circle-red" (click)="startCaptureImage()">-->
<!--                        <div class="in-circle"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div *ngIf="pictureService.selfieImageComplete$ | async" class="cover-img-complete">-->
<!--                    <img  [src]="pictureService.selfieImage"-->
<!--                         class="image-blurred-edge">-->
<!--                    <div class="circle-red-again" (click)="startCaptureImage()">-->
<!--                        <div class="in-circle-again"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="picture-selfie-overlay" (click)="showGuideShot()" fxLayout="column" fxLayoutAlign="center center"
                 *ngIf="!(pictureService.selfieImageComplete$ | async)">
                <div class="cover-camera"><img fxFlexAlign="center" width="24" height="24" alt=""
                                               src="assets/images/camera.png"></div>
            </div>
            <div class="picture-selfie-overlay-2" fxLayout="column" fxLayoutAlign="top center"
                 *ngIf="pictureService.selfieImageComplete$ | async">
                <img class="img-small" appMarginTop="8" width="60" height="40" alt=""
                     [src]="pictureService.selfieImage">
<!--                <img class="icon-dell" (click)="onDeleteImage()" src="../../../../assets/images/trash.png">-->
                <img class="icon-tick" src="../../../../assets/images/tick-photo.png">
            </div>
<!--            <div class="text-under-camera">{{'selfie.labelPhoto' | translate}}</div>-->
<!--            <div *ngIf="!(pictureService.selfieImageComplete$ | async)" class="no-take-photo">{{'selfie.noTakePhoto' | translate}}</div>-->
<!--            <div class="picture-selfie-notice" appMarginTop="16" fxFlexAlign="start">-->
<!--                {{'selfie.titleGuide' | translate}}-->
<!--            </div>-->
<!--            <ul>-->
<!--                <li class="picture-selfie-step">-->
<!--                    {{'selfie.guide1' | translate}}-->
<!--                </li>-->
<!--                <li class="picture-selfie-step">-->
<!--                    {{'selfie.guide2' | translate}}-->
<!--                </li>-->
<!--                <li class="picture-selfie-step">-->
<!--                    {{'selfie.guide3' | translate}}-->
<!--                </li>-->
<!--            </ul>-->
        </div>
        <div class="cover-btn">
            <app-button-dialog
                    [isEnable]="!(pictureService.selfieImageComplete$ | async) || citizenId.invalid || isExistNid"
                    [contentBtn]="'selfie.continue' | translate"
                    [width]="299"
                    [height]="46"
                    (click)="onSelfieContinue()">
            </app-button-dialog>
        </div>
    </div>

<!--    Hiển thị hướng dẫn chụp-->
    <div class="container-guide" *ngIf = "isShowGuide">
        <div class="box-guide">
            <div class="box-item">
                <img class="img-des" src="../../../../assets/images/Graphic-1.png">
                <div class="description-text color-red">{{'selfie.shouldNot' | translate}}</div>
                <div class="content-guide">
                    <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                    <span class="text-bold">{{'selfie.noteGuide-1' | translate}}</span>
                </div>
            </div>
            <div class="box-item">
                <img class="img-des" src="../../../../assets/images/Graphic-2.png">
                <div class="description-text color-red">{{'selfie.shouldNot' | translate}}</div>
                <div class="content-guide">
                    <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                    <span class="text-bold">{{'selfie.noteGuide-2' | translate}}</span>
                    <span class="text-light">{{'selfie.toShot' | translate}}</span>
                </div>
            </div>
            <div class="box-item">
                <img class="img-des" src="../../../../assets/images/Graphic-3.png">
                <div class="description-text color-blue">{{'selfie.veryGood' | translate}}</div>
                <div class="content-guide">
                    <span class="text-light">{{'selfie.noteGuide-3' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="cover-btn">
            <app-button-dialog
                    [isEnable]="false"
                    [contentBtn]="'selfie.start' | translate"
                    [width]="299"
                    [height]="46"
                    (click)="startCaptureImage()">
            </app-button-dialog>
        </div>
    </div>
</div>


