@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format("truetype");
}

.form-login-container {
  font-style: normal;
  position: relative;
  margin: auto;
  width: 464px;
  height: auto;
  border-radius: 20px;
  border: 3px solid #EEEEEE;
  background: #F3F3F3;
  padding: 54px 32px 32px 32px;
  @media screen and(max-width: 480px){
    width: 355px;
    padding: 32px;
    border-radius: 15px;
  }
}

.title-login {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
  @media screen and(max-width: 480px){
    font-size: 20px;
  }
}

.form-cover {
  width: 68%;
  margin: auto;
  height: 36px;
  border: 1px solid rgba(55, 63, 65, 0.5);
  border-radius: 20px;
  margin-bottom: 13px !important;
}

.name-input {
  font-family: "MontserratAlternates";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
  @media screen and(max-width: 480px){
  }
}

.input-valid{
  background: #FFFFFF;
  border-radius: 50px;
  height: 49px;
  width: 100%;
  border: none;
  padding: 0 20px 0 20px;
}

.under-input {
  width: 100%;
  height: 56px;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.under-input-1 {
  width: 100%;
  height: 40px;
  padding-top: 10px;
}

.link-register {
  width: 100%;
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
}

.link-forget-pw {
  font-size: 12px
}

.note-container {
  width: 140px;
  position: absolute;
  left: 24px;
  bottom: 30px;
}

.text-note {
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  line-height: 10px;
  color: #000000;
}

.text-note p {
  margin-top: -5px;
}


.close-popup {
  position: absolute;
  right: 32px;
  top: 24px;
  @media screen and(max-width: 480px){
    right: 10px;
    top: 10px;
  }
}


.invalid-note {
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  color: #EE4D2D;
}

.invalid-note label {
  margin-left:24px;
}

.err {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE4D2D;
}


.loading {
  width: 9%;
  margin: auto;
  margin-top: 16px !important;
}

a {
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  color: #397DCE;
  cursor: pointer;
}

.cover-input {
  position: relative;
}

.icon-invalid {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.hidden-480 {
  @media screen and(max-width: 480px){
    display: none;
  }
}
.hidden-lager-screen {
  @media screen and(min-width: 480px){
    display: none;
  }
}

