
.container-right-body {
  min-height: 86vh;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-right: 40px;
  font-style: normal;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  position: relative;
  @media screen and(max-width: 480px){
    margin: 24px 20px 48px 20px;
    background: rgba(247, 247, 247, 0.75);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 32px;
    min-height: auto;
  }
}

.title-infor {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 119px;
  display: flex;
  align-items: center;
}

.title-register {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
  white-space: nowrap;
  @media screen and(max-width: 480px){
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
  }

}

.bar-step {
  width: 36%;
  margin: auto;
  margin-top: 24px !important;
  position: relative;
}

.text-step {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #4ECB71;
  width: 49px;
  text-align: center;
}

.cycle-step {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
}

.line-step {
  position: absolute;
  width: 80%;
  height: 0;
  left: 10%;
  top: 24%;
  border-top: 1px solid #C4C4C4;
}

.line-step div {
  margin-top: -1.5px;
  width: 52%;
  border-top: 2px solid #4ECB71;
}

.cover-btn-pin {
  margin-top: 24px !important;
  @media screen and(max-width: 480px){
    margin-top: 16px !important;
  }
}


.link-back {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #1E81EB;
  margin-top:10px;
}

.form-code {
  height: auto;
  width: 378px;
  margin: auto;
  @media screen and(max-width: 480px){
    width: 100%;
  }
}

input {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #979797;
  border: hidden;
  text-align: center;
}

.form-update {
  margin: auto;
  width: 279px;
  text-align: center;
  color: #000000;
  @media screen and(max-width: 480px){
    width: unset;
  }
}

.mb-label-1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 24px;
  margin-top: 32px;
  @media screen and(max-width: 480px){
    margin-top: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}

.mb-label-2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 24px;
  margin-top: 26px;
  @media screen and(max-width: 480px){
    margin-top: 28px;
    font-size: 14px;
    line-height: 17px;
  }
}

input {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #979797;
  border: hidden;
  text-align: center;
}

label {
  //font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #04113E;
}

a {
  //font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #1E81EB;
  margin-left: 16px;
}

.cover-input-pin {
  width: 154.38px;
  margin: auto;
  padding: 0px;
  height: 34px;
}
.img-valid {
  display: flex;
  align-items: center;
}

.content-valid {
  display: flex;
  align-items: center;
  //font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(4, 17, 62, 0.7);
}

.form-valid {
  margin-top: 12px;
}

.red-star {
  color: red;
}

.note-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: red;
  margin-top: 19px;
}
.note-text-2 {
  width: 80%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.cover-note {
  width: 100%;
  margin-left: 40px;
  margin-top: 45px;
}

.text-invalid {
  height: 18px;
  label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #EE4D2D;
  }
}

.code-input-3 {
  --item-border-radius: 50%;
  --item-height: 20px;
  --item-spacing: 14.88px;
  --item-background: rgba(154, 147, 147, 0.1);
}

.focus-all {
  //--item-border: 2px solid #8A8A8A !important;
  //--item-border-bottom: 2px solid #8A8A8A !important;
}

.code-input-4 {
  --item-border-radius: 50%;
  --item-height: 20px;
  --item-spacing: 14.88px;
  --item-background: rgba(154, 147, 147, 0.1);
  --item-border: 2px solid #FF8080 !important;
  --item-border-bottom: 2px solid #FF8080 !important;
}
