@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format("truetype");
}

.bar-step {
  width: 677px;
  margin: auto;
  margin-top: 24px !important;
  position: relative;
}

.text-step {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #A8A8A8;
  width: 80px;
}

.cycle-step {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
}

.line-step {
  position: absolute;
  width: 80%;
  height: 0;
  left: 10%;
  top: 24%;
  border-top: 1px dashed #A8A8A8;
}

.line-step div {
  margin-top: -1.5px;
  width: 0;
  border-top: 2px solid #197DDE;
}

.title {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 48px;
}
