@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../assets/font/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype");
}

.bar-step {
  width: 822px;
  margin: auto;
  margin-top: 36px !important;
  position: relative;
  @media screen and(max-width: 480px){
    width: 308px;
    margin-top: 10px !important;
  }
}

.text-step {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #A8A8A8;
  @media screen and(max-width: 480px){
    font-size: 10px;
    line-height: 12px;
  }
}

.cycle-step {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
  @media screen and(max-width: 480px){
    width: 10px;
    height: 10px;
  }
}

.line-step {
  position: absolute;
  width: 80%;
  height: 0;
  left: 10%;
  top: 21%;
  border-top: 1px dashed #A8A8A8;
}

.line-step div {
  margin-top: -1.5px;
  width: 0;
  border-top: 2px solid #197DDE;
}

.title {
  font-family: 'MontserratAlternates';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 61px;
  letter-spacing: -0.01rem;
  @media screen and(max-width: 480px){
    font-size: 14px;
    line-height: 17px;
    margin-top: 32px !important;
    width: 70%;
    margin: auto;
  }
}
