<div class="title" [innerHTML]="'barProcess.title' | translate"></div>
<div class="bar-step">
  <div class="line-step"><div [style]="'width:'+childData.widthLine +'%'"></div></div>
  <mat-grid-list  cols="5" rowHeight="40">
    <mat-grid-tile *ngFor ="let n of listItem, let i = index ">
      <div [style]="i <= childData.numberStep? 'background-color:#197DDE':null" class="cycle-step"></div>
    </mat-grid-tile>
    <mat-grid-tile *ngFor ="let item of listItem,let i = index ">
      <span [style]="i <= childData.numberStep? 'color:#197DDE':null" class = "text-step">{{lang=='en'?item.stepEn:item.stepVi}}</span>
    </mat-grid-tile>
  </mat-grid-list>
</div>
