<div style="width: 100%" class="hidden-lager-screen">
    <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
</div>
<div class="container-right-body">
    <div *ngIf="!isShowGuide" class="title-infor">{{'takePhotoNid.labelNid' | translate}}</div>
    <div fxLayout="column" fxLayoutAlign="center center">

        <div style="width: 100%" class="hidden-480">
            <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
        </div>

        <div *ngIf="(!isShowGuide && !(pictureService.citizenFrontImageComplete$ | async)) || (pictureService.citizenBackImageComplete$ | async)"
             class="citizen-box">
            <div class='title-box hidden-480'>
                <div class="title-text">{{'takePhotoNid.labelNid' | translate}}</div>
            </div>
            <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center" appMarginTop="34">
                <div class="card-box" fxLayout="column" fxLayoutAlign="space-around center">
                    <div (click)="isShowGuide = true"
                         class="inside-card"
                         *ngIf="!(pictureService.citizenFrontImageComplete$ | async)">
                        <div class="cover-camera">
                            <img fxFlexAlign="center" width="24" height="24" alt="" src="assets/images/camera.png">
                        </div>
                    </div>
                    <div *ngIf="pictureService.citizenFrontImageComplete$ | async" style="position: relative">
                        <img class="img-small" appMarginTop="8" width="60" height="40" alt=""
                             [src]="pictureService.citizenFrontImage">
                        <!--                        <img class="icon-dell" (click)="onDeleteImage(NCardSide.front)"-->
                        <!--                             src="../../../../assets/images/trash2.png">-->
                        <img class="icon-tick" src="../../../../assets/images/tick-photo.png">
                    </div>
                </div>
                <div class="card-box" fxLayout="column" fxLayoutAlign="space-around center">
                    <div (click)="isShowGuide = true"
                         *ngIf="!(pictureService.citizenBackImageComplete$ | async)"
                         class="inside-card">
                        <div class="cover-camera">
                            <img fxFlexAlign="center" width="24" height="24" alt="" src="assets/images/camera.png">
                        </div>
                    </div>

                    <div *ngIf="pictureService.citizenBackImageComplete$ | async" style="position: relative">
                        <img class="img-small" appMarginTop="8" width="60" height="40" alt=""
                             [src]="pictureService.citizenBackImage">
                        <img class="icon-tick" src="../../../../assets/images/tick-photo.png">
                    </div>
                </div>
            </div>
            <div class="citizen-frame-list" fxLayout="row" fxLayoutAlign="space-around center">
                <div class="citizen-image-text">{{'takePhotoNid.labelBefore' | translate}}</div>
                <div class="citizen-image-text">{{'takePhotoNid.labelAfter' | translate}}</div>
            </div>
            <div class="cover-btn-shot" *ngIf="(pictureService.citizenBackImageComplete$ | async)">
                <app-button-dialog
                        [isEnable]="!(pictureService.citizenFrontImageComplete$ | async) ||
                !(pictureService.citizenBackImageComplete$ | async)"
                        [contentBtn]="'takePhotoNid.continue' | translate"
                        (click)="onCitizenCardContinue()">
                </app-button-dialog>
            </div>
            <div class="cover-btn-shot hidden-480" *ngIf="!(pictureService.citizenBackImageComplete$ | async)">
                <app-button-dialog
                        [isEnable]="false"
                        [contentBtn]="'takePhotoNid.continue' | translate"
                        (click)="isShowGuide = true">
                </app-button-dialog>
            </div>
            <div class="cover-btn-shot hidden-lager-screen" *ngIf="!(pictureService.citizenBackImageComplete$ | async)">
                <app-button-dialog
                        [width]="200"
                        [height]="44"
                        [fontSize]="14"
                        [isEnable]="false"
                        [contentBtn]="'takePhotoNid.continue' | translate"
                        (click)="isShowGuide = true">
                </app-button-dialog>
            </div>
        </div>

        <!--        hiển thị hướng dẫn-->

        <div *ngIf="isShowGuide && !(pictureService.citizenFrontImageComplete$ | async)"
             class="cover-box-guide">
            <div class="box-guide hidden-480">
                <div class="box-item-guide">
                    <img src="../../../../assets/images/guideIdCard-1.png">
                    <div class="title" style="color: #EE4D2D">
                        {{'takePhotoNid.titleGuide-1' | translate}}
                    </div>
                    <div class="content-guide with-9">
                        <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                        <span class="text-bold">{{'selfie.noteGuide-2' | translate}}</span>
                        <span class="text-light">{{'selfie.toShot' | translate}}</span>
                    </div>
                    <div class="content-guide">
                        <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                        <span class="text-bold">{{'takePhotoNid.noteGuide-2' | translate}}</span>
                    </div>
                </div>
                <div class="box-item-guide">
                    <img src="../../../../assets/images/guideIdCard-2.png">
                    <div class="title" style="color: #56CA8B">
                        {{'takePhotoNid.titleGuide-2' | translate}}
                    </div>
                    <div class="content-guide with-9">{{'takePhotoNid.titleGuide-3' | translate}}</div>
                    <div class="content-guide">{{'takePhotoNid.titleGuide-4' | translate}}</div>
                </div>
            </div>

            <div class="text-title-guide hidden-lager-screen" [innerHTML]="'takePhotoNid.guideTitle'|translate"></div>

            <div class="cover-swiper-nid hidden-lager-screen">
                <swiper #swiper3
                        [pagination]="{clickable: true}"
                        [slidesPerView]="1"
                        [scrollbar]="{ draggable: true }">
                    <ng-template swiperSlide>
                        <div class="box-item-guide">
                            <img src="../../../../assets/images/guideIdCard-1.png">
                            <div class="title" style="color: #EE4D2D">
                                {{'takePhotoNid.titleGuide-1' | translate}}
                            </div>
                            <div class="content-guide with-9">
                                <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                                <span class="text-bold">{{'selfie.noteGuide-2' | translate}}</span>
                                <span class="text-light">{{'selfie.toShot' | translate}}</span>
                            </div>
                            <div class="content-guide">
                                <span class="text-light">{{'selfie.pleaseGuide' | translate}}</span>
                                <span class="text-bold">{{'takePhotoNid.noteGuide-2' | translate}}</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="box-item-guide">
                            <img src="../../../../assets/images/guideIdCard-2.png">
                            <div class="title" style="color: #56CA8B">
                                {{'takePhotoNid.titleGuide-2' | translate}}
                            </div>
                            <div class="content-guide with-9">{{'takePhotoNid.titleGuide-3' | translate}}</div>
                            <div class="content-guide">{{'takePhotoNid.titleGuide-4' | translate}}</div>
                        </div>
                    </ng-template>
                </swiper>
            </div>

            <div *ngIf = "countStepGuide === 0" (click)="slideNext()" class="box-skip hidden-lager-screen">
                <div>{{'selfie.skip'|translate}}</div>
                <img src="../../../../assets/images/angle-down.png">
            </div>

            <button (click)="onCaptureCitizenCard()"
                    class="btn-shot-front hidden-480">{{'takePhotoNid.start' | translate}}
            </button>
            <button *ngIf ="countStepGuide === 1" (click)="onCaptureCitizenCard()"
                    class="btn-shot-front hidden-lager-screen">{{'takePhotoNid.start' | translate}}
            </button>
        </div>
        <!--        thông báo thành công mặt trước-->
        <div class="box-status-front"
             *ngIf="(pictureService.citizenFrontImageComplete$ | async)
             && !(pictureService.citizenBackImageComplete$ | async)">
            <div class="status-front-idCard">
                <img class="icon-status" src="../../../../assets/images/smile.png">
                <div class="msg-stt">{{'takePhotoNid.msgSttFront' | translate}}</div>
                <div class="line-now">
                    <div>Now</div>
                </div>
            </div>
            <img class="icon-refresh" src="../../../../assets/images/Refresh.png">
            <div class="note-continue-back">{{'takePhotoNid.noteToBack' | translate}}</div>
            <div class="content-idCard">
                <div class="corner-1 corner"></div>
                <div class="corner-2 corner"></div>
                <div class="corner-3 corner"></div>
                <div class="corner-4 corner"></div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="../../../../assets/images/front-idCard.png" width="100%" height="100%">
                        </div>
                        <div class="flip-card-back">
                            <img src="../../../../assets/images/back-idCard.png" width="100%" height="100%">
                        </div>
                    </div>
                </div>
                <!--                <img class="img-idCard-front" [src]="pictureService.citizenFrontImage">-->
            </div>
            <div class="cover-btn-shot-back">
                <app-button-dialog [contentBtn]="'takePhotoNid.start' | translate"
                                   [isEnable]="false"
                                   (click)="onCaptureCitizenCard()"></app-button-dialog>
            </div>
        </div>
    </div>
</div>
