<div class="form-login-container">
    <div class="title-login">{{'forgotPass.inputOtp' | translate}}</div>
    <div class="note-send">
        {{'register.noteOtp' | translate}} <span style="font-weight: bold">{{email | emailStyle}}</span>
    </div>
    <div>
        <div class="cover-input">
            <code-input [className]="messageErr!==''||messageErrExp!==''?'code-input-2':'code-input-1'" [codeLength]="6"
                        [isCodeHidden]="false"
                        (codeChanged)="onCodeChanged($event)"
                        (codeCompleted)="onCodeCompleted($event)">
            </code-input>
            <div class="under-input">
                <div *ngIf="messageErrExp!==''" class="err">
                    {{messageErrExp | translate}}
                </div>
                <div *ngIf="messageErr != '' && countFail===5" class="err">
                    {{messageErr | translate}}
                </div>
                <div *ngIf="messageErr!==''&& countFail < 5" class="err">
                    {{messageErr | translate}} <span *ngIf="countFail<5">({{countFail}}/5)</span>
                </div>
            </div>
        </div>
        <div *ngIf="!isCancel">
            <app-button-dialog class="hidden-480" [contentBtn]="'forgotPass.continue' | translate"
                               [isEnable]="otp.length<6"
                               (click)="submit()"
                               [width]="299"
                               [height]="46">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'forgotPass.continue' | translate"
                               [isEnable]="otp.length<6"
                               (click)="submit()"
                               [height]="40"
                               [fontSize]="14"
                               [width]="200">
            </app-button-dialog>
        </div>
        <div *ngIf="isCancel">
            <app-button-dialog class="hidden-480" [contentBtn]="'login.cancel'|translate"
                               [isEnable]="false"
                               (click)="closeDialog()"
                               [width]="299"
                               [height]="46">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'login.cancel'|translate"
                               [isEnable]="false"
                               (click)="closeDialog()"
                               [width]="200"
                               [fontSize]="14"
                               [height]="40">
            </app-button-dialog>
        </div>
        <!--        <div class="loading" *ngIf="loading">-->
        <!--            <app-loading></app-loading>-->
        <!--        </div>-->
    </div>
    <div class="cover-bottom">
        <div class="note-no-send">{{'forgotPass.noOtp' | translate}}?</div>
        <a [hidden]="countDown === 0"
           class="link-send-disable"
           [style]="countDown<=10?'color: red':null">
            {{'forgotPass.otpAgain' | translate}} ({{countDown}})
        </a>
        <a [hidden]="countDown > 0"
           class="link-send"
           [class.link-send-disable]="isCancel"
           (click)="getOtpAgain()">
            {{'forgotPass.otpAgain' | translate}}
        </a>
    </div>

    <app-item-close-dialog class="close-popup" (click)="closeDialog()"></app-item-close-dialog>
</div>
