<div class="header-format" [class.header-format-login]="currentAccessToken&&isShowSidebar">
    <div class="header-left">
        <img *ngIf="currentAccessToken==null || !isShowSidebar" (click)="onShowMenu($event)" class="icon-menu hidden-min-960"
             src="../../assets/images/menu-header.png">
        <img *ngIf="currentAccessToken!=null && isShowSidebar" (click)="onShowMenuAfterAuth($event)" class="icon-menu hidden-lager-screen"
             src="../../assets/images/menu-header.png">
        <a class="cover-icon-home" href="/" *ngIf="currentAccessToken!==null">
            <img class="img-icon-home" src="../../assets/images/_VOOLOLogo.png">
        </a>
        <a class="cover-icon-home" href="/" *ngIf="currentAccessToken==null">
            <img class="img-icon-home" src="../../assets/images/_VOOLOLogo.png">
        </a>
        <div class="cover-item-menu hidden-480 hidden-820 " *ngIf="currentAccessToken==null|| !isShowSidebar ">
            <a *ngFor="let item of listItemMenu, let i = index"
               [innerHTML]="item.text | translate"
               [className]="currentItem===item.id?'link-home':'text-home-page'"
               href = "{{item.router!=='/fastPay'?('#'+item.router):undefined}}"
               (click)="openOtherPage(item.router,item.id,$event)"
            ></a>
        </div>
    </div>


    <div class="header-right">
        <div>
            <div class="cover-btn-icon">
                <button class="btn-header btn-login" [hidden]="currentAccessToken!=null"
                        (click)="openDialogLogin()">
                    {{'header.login' | translate}}
                </button>
                <button [hidden]="currentAccessToken!=null"
                        (click)="openDialogRegister()"
                        class="btn-header btn-register">
                    {{'header.register' | translate}}
                </button>

            </div>

            <div *ngIf="currentAccessToken!=null" class="profile">
                <div class="cover-profile">
                    <div #noteButton class="note" (click)="showNotifications()">
                        <img class="bell" src="../../assets/images/bell.png"/>
                        <div class="text-note">{{numberNotes}}</div>
                        <app-notification-dropdown #menuNote [hidden]="!showNote"></app-notification-dropdown>
                    </div>

                    <div class="box-profile-right" #profileButton (click)="showBtnProfile=!showBtnProfile">
                        <div class="avatar-nav" >
                            <div>
                                <img src="../../assets/images/avatar-nav.png">
                            </div>
                        </div>
                        <div class="name">{{user.username}}</div>
                        <div #profileButton class="icon-drop">
                            <img src="../../assets/images/angle-down.png">
                            <div #menuProfile [hidden]="!showBtnProfile" class="view-profile-drop">
                                <div class="box-show box-profile" (click)="showProfileUser()">
                                    <img class="icon-show" src="../../assets/images/avatar-nav.png">
                                    <div>{{'header.showInformation' | translate}}</div>
                                </div>
                                <div class="box-show box-logout" (click)="logoutUser()">
                                    <img class="icon-show" src="../../assets/images/icon-logout.png">
                                    <div>{{'header.logout' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--    icon-mobile-->
    <div *ngIf="currentAccessToken != null" class="hidden-lager-screen box-icon-mobile">
        <img (click)="showAllNotification()" class="bell" src="../../assets/images/bell.png">
        <img (click)="showProfileUser()" class="icon-pro" src="../../assets/images/profile-mobile.png">
    </div>
</div>


