<div class="header-format">
    <div class="header-left">
        <img *ngIf="currentAccessToken==null" (click)="onShowMenu($event)" class="icon-menu hidden-min-960"
             src="../../assets/images/menu-header.png">
        <img *ngIf="currentAccessToken!=null" (click)="onShowMenuAfterAuth($event)" class="icon-menu hidden-min-960"
             src="../../assets/images/menu-header.png">
        <a class="cover-icon-home" href="/auth" *ngIf="currentAccessToken!==null">
            <img class="img-icon-home" src="../../assets/images/_VOOLOLogo.png">
        </a>
        <a class="cover-icon-home" href="/" *ngIf="currentAccessToken==null">
            <img class="img-icon-home" src="../../assets/images/_VOOLOLogo.png">
        </a>
        <div class="cover-item-menu hidden-480 hidden-820 " *ngIf = "currentAccessToken==null|| !isShowSidebar ">
            <a *ngFor = "let item of listItemMenu, let i = index"
               [innerHTML]="item.text | translate"
               [className]="currentItem===item.id?'link-home':'text-home-page'"
               (click)="openOtherPage(item.router,item.id)"
            ></a>
        </div>
    </div>


    <div class="header-right">
        <div class = "btn-mb-5">
            <div class="cover-btn-icon">
                <button class="btn-login" [hidden]="currentAccessToken!=null"
                        (click)="openDialogLogin()">
                    {{'header.login' | translate}}
                </button>
                <button [hidden]="currentAccessToken!=null"
                        (click)="openDialogRegister()"
                        class="btn-register">
                    {{'header.register' | translate}}
                </button>

            </div>

            <div *ngIf="currentAccessToken!=null" class="profile">
                <div class="cover-profile">
                    <div #noteButton class="note" (click)="showNotifications()">
                        <img class="bell" src="../../assets/images/bell.png"/>
                        <div  class="text-note">{{numberNotes}}</div>
                        <app-notification-dropdown #menuNote [hidden] = "!showNote"></app-notification-dropdown>
                    </div>
                    <div class="avatar-nav">
                        <div (click)="showProfileUser()">
                            <img src="../../assets/images/avatar-nav.png">
                        </div>
                    </div>
                    <div (click)="showProfileUser()" class="name">{{user.username}}</div>
                    <div #profileButton class="icon-drop" (click)="showBtnProfile=!showBtnProfile">
                        <img  src="../../assets/images/angle-down.png">
                        <div #menuProfile [hidden]="!showBtnProfile" class="view-profile-drop">
                            <p (click)="showProfileUser()">{{'header.showInformation' | translate}}</p>
                            <p (click)="logoutUser()">{{'header.logout' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    icon-mobile-->
    <div *ngIf = "currentAccessToken != null" class="hidden-lager-screen box-icon-mobile">
        <img (click)="showAllNotification()" class="bell" src="../../assets/images/bell.png">
        <img (click)="showProfileUser()" class="icon-pro" src="../../assets/images/profile-mobile.png">
    </div>
</div>


