.loading {
  width: 9%;
  margin: auto;
  margin-top: 240px !important;
}
@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format("truetype");
}

.container-right-body {
  min-height: 80vh;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-right: 24px;
  font-style: normal;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  position: relative;
  @media screen and(max-width: 480px){
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 12%);
    border-radius: 15px;
    padding: 1px 24px 24px 24px;
    min-height: unset;
    height: auto;
    margin-top: 20px;
  }
}

.title-infor {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 120px;
  display: flex;
  align-items: center;
  @media screen and(max-width: 480px){
    font-size: 20px;
    line-height: 24px;
    margin-left: -30px;
    border-bottom: none;
    padding-bottom: 0px;
    margin-top: 20px;
    height: auto;
  }
}

.hidden-480 {
  @media screen and(max-width: 480px){
    display: none;
  }
}

.hidden-lager-screen {
  @media screen and(min-width: 480px){
    display: none;
  }
}

iframe {
  height: 854px; width: 100%
}

.cover-iframe {
  width: 80%;
  margin: auto;
  margin-top: 64px !important;
  @media screen and(max-width: 480px){
    width: 100%;
    margin-top: 32px !important;
  }
}
