
.container-fail {
}

.frame-fail {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  width: 32%;
  height: auto;
  margin: auto;
}

.note {
  width: 80%;
  margin: auto;
  font-weight: normal;
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.btn-back {
  width: 85%;
  height: 40px;
  margin: auto;
  background: linear-gradient(260.54deg, #68E89A 0%, #39D074 62.86%);
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 20px;
}

.cover-img {
  margin-top: 167px;
}

p {
  margin-bottom: -15px;
}
