

.container-right-body {
  min-height: 86vh;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-right: 40px;
  font-style: normal;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  position: relative;
  @media screen and(max-width: 480px){
    min-height: auto;
    margin: 0px 20px 0px 20px;
    background: transparent;
    border-radius: 0px;
    box-shadow: unset;
  }
}

.title-infor {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 119px;
  display: flex;
  align-items: center;
}

.title-register {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
}
h1 {
  margin: auto;
  margin-top: 16px !important;
  margin-bottom:16px !important;
  width: 447px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.bar-step {
  width: 36%;
  margin: auto;
  margin-top: 24px !important;
  position: relative;
}

.text-step {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #4ECB71;
  width: 49px;
  text-align: center;
}

.cycle-step {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
}

.line-step {
  position: absolute;
  width: 80%;
  height: 0;
  left: 10%;
  top: 24%;
  border-top: 1px solid #C4C4C4;
}

.line-step div {
  margin-top: -1.5px;
  width: 77%;
  border-top: 2px solid #4ECB71;
}

.cover-btn-sign {
  margin-top: 40px;
}

.btn-ctn {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  background: linear-gradient(180deg, rgba(18, 194, 233, 0.7) 0%, rgba(196, 113, 237, 0.8) 44.79%, rgba(246, 79, 89, 0.8) 100%);
}

.btn-ctn-invalid {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  margin-bottom: 8px;
  background: #BDBDBD
}

.link-back {
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #1E81EB;
  text-align: center;
  margin-top:10px !important;
}

.form-contract {
  padding: 32px 10px 32px 26px;
  height: 450px;
  width: 66%;
  border-radius: 10px;
  background: #FFFFFF;
  margin: auto;
  margin-top: 36px !important;
  @media screen and(max-width: 480px){
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-top: 24px !important;
    padding: 28px 10px 32px 20px;
  }
}

.name-contract {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-family: 'Montserrat Alternates', sans-serif;
  @media screen and(max-width: 480px) {
    font-size: 14px;
    line-height: 17px;
  }
}

.content {
  margin-top: 16px;
  height: 222px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-right: 24px;
  overflow-y: auto;
  @media screen and(max-width: 480px){
    font-size: 12px;
    line-height: 18px;
    padding-right: 12px;
  }
}

.opacity-text {
  width: 98%;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  background: white;
}

.under-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 22px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #197DDE;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 24px;
  @media screen and(max-width: 480px){
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 8px;
    margin-right: 10px;
  }
}

.img-see-more {
  width: 14.8px;
  margin-bottom: 5px;
  @media screen and(max-width: 480px){
    width: 8px;
    filter: grayscale(100%) !important;
  }
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

.tick-1-none {
  height: 18.38px;
  width: 18.38px;
  border-radius: 3px;
  border: 1px solid #000000;
  margin-right: 17.25px;
  @media screen and(max-width: 480px){
    margin-right: 11.25px;
    margin-top: 2px;
  }
}

.content-tick {
  width: auto;
  @media screen and(max-width: 480px){
    width: 264px;
  }
}

.bgr-tick {
  background-image: url("../../../../assets/images/tick-contract.png");
  background-size: cover;
  border: hidden !important;
}


.tick-2 {
  width: 26.5px;
  height: 26.5px;
  margin-right: 16px;
}
.agree-tick {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 6px;
  @media screen and(max-width: 480px){
    margin-left: 0px;
    margin-right: 10px;
    align-items: start;
    height: auto;
  }
}

.mb-19 {
  margin-bottom: 19px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
