<div class="container-right-body">
    <div class="title-infor">{{'inforBnpl.title' | translate}}</div>
    <div>
        <div>
            <app-bar-process-bnpl [childData]="{widthLine: 50,numberStep:2}"></app-bar-process-bnpl>
        </div>

<!--        <div class="title-register">-->
<!--            {{'contract.title' | translate}}-->
<!--        </div>-->

        <div [style]="isShow?'height: auto':null" class="form-contract">
            <div class="name-contract">
                {{'contract.titleForm' | translate}}
            </div>
            <div style="position: relative">
            <div [style]="isShow?'height: auto':null" class="content" [innerHTML]="'contract.content' | translate">
            </div>
            <div [style]="isShow?'display: none':null" class="opacity-text"></div>
            </div>
            <div [style]="isShow?'height: 50px':null" class="under-content">
                <div [style]="isShow?'transform: rotate(180deg)':null" (click)="showAllPageContract()"><img class="img-see-more" src="../../../../assets/images/angle-double-down.png"></div>
                <div [hidden]="isShow" (click)="showAllPageContract()">{{'contract.seeMore' | translate}}</div>
            </div>
            <div class="agree-tick">
                <div><input (change)="handleCheckboxAgree($event)" class="tick-1" type="checkbox" name="agree"></div>
                <div><label>{{'contract.checkbox1' | translate}}</label></div>
            </div>
            <div class="agree-tick">
                <div><input (change)="handleCheckboxGetOtp($event)" class="tick-1" type="checkbox" name="agree"></div>
                <div><label>{{'contract.checkbox2' | translate}}</label></div>
            </div>
        </div>

        <div class="cover-btn">
            <div>
                <app-button-dialog
                        [isEnable]="!isGetOtp || !isAgree"
                        [width]="200"
                        [height]="41"
                        [fontSize]="14"
                        [contentBtn]="'contract.signNow' | translate"
                        (click)="submitToSignContract()">
                </app-button-dialog>
            </div>
        </div>

    </div>
</div>
