<div class = "hidden-lager-screen">
    <app-bar-process-bnpl [childData]="{widthLine: 50,numberStep:2}"></app-bar-process-bnpl>
</div>
<div class="container-right-body">
    <div class="title-infor hidden-480">{{'inforBnpl.title' | translate}}</div>
    <div>
        <div class = "hidden-480">
            <app-bar-process-bnpl [childData]="{widthLine: 50,numberStep:2}"></app-bar-process-bnpl>
        </div>

        <div [style]="isShow?'height: auto':null" class="form-contract">
            <div class="name-contract">
                {{'contract.titleForm' | translate}}
            </div>
            <div style="position: relative">
            <div [style]="isShow?'height: auto':null" class="content" [innerHTML]="'contract.content' | translate">
            </div>
            <div [style]="isShow?'display: none':null" class="opacity-text"></div>
            </div>
            <div [style]="isShow?'height: 50px':null" class="under-content">
                <div [style]="isShow?'transform: rotate(180deg)':null" (click)="showAllPageContract()"><img class="img-see-more" src="../../../../assets/images/angle-double-down.png"></div>
                <div [hidden]="isShow" (click)="showAllPageContract()">{{'contract.seeMore' | translate}}</div>
            </div>
            <div class="agree-tick mb-19">
                <div (click)="handleCheckboxAgree(1)" class="tick-1-none"
                [class.bgr-tick]="isAgree"></div>
                <div class = "content-tick">{{'contract.checkbox1' | translate}}</div>
            </div>
            <div class="agree-tick">
                <div (click)="handleCheckboxAgree(2)" class="tick-1-none"
                [class.bgr-tick]="isGetOtp"></div>
                <div class = "content-tick">{{'contract.checkbox2' | translate}}</div>
            </div>
        </div>

        <div class="cover-btn-sign">
            <div>
                <app-button-dialog
                        [isEnable]="!isGetOtp || !isAgree"
                        [width]="200"
                        [height]="41"
                        [fontSize]="14"
                        [contentBtn]="'contract.signNow' | translate"
                        (click)="submitToSignContract()">
                </app-button-dialog>
            </div>
        </div>

    </div>
</div>
