<div class="container-sidebar">
    <div fxLayout = "row" style="margin-bottom: 16px" [className]="itemChoose=='infoEap'?'acc-infor-current':'acc-infor'" (click)="getInformationAccountEap()">
        <div fxFlex = '16%' class="item" ><img src="../../assets/images/eapAc.png"></div>
        <div fxFlex = ''>{{'sideBar.eapInformation' | translate}}</div>
    </div>
    <div fxLayout = "row" style="margin-bottom: 16px" [className]="itemChoose=='registerBNPL'?'acc-infor-current':'acc-infor'" (click)="getInformationAccountBnpl()">
        <div fxFlex = '16%' class="item" ><img src="../../assets/images/fingerprint.png"></div>
        <div fxFlex = '' [innerHTML]="'sideBar.bnplInformation' | translate"></div>
    </div>

    <div fxLayout = "row" style="margin-bottom: 9px" [className]="itemChoose=='transaction'?'acc-infor-current':'acc-infor'" (click)="getListTransaction()">
        <div fxFlex = '16%' class="item" ><img src="../../assets/images/clock.png"></div>
        <div fxFlex = ''>{{'sideBar.transaction' | translate}}</div>
    </div>

    <div fxLayout = "row" style="margin-bottom: -10px" [className]="itemChoose=='repayment'?'acc-infor':'acc-infor'">
        <div fxFlex = '16%' class="item" ><img src="../../assets/images/Star.png"></div>
        <div fxFlex = '75%'  (click)="getRepaymentPlan()" >{{'sideBar.repayment' | translate}}</div>
        <div fxFlex = '' class="item" style="margin-left: 5.5px"><img
                (click)="getRepaymentPlan(); $event.stopPropagation()"
                 [style]="showRepayment?'transform: rotate(-180deg)':null"
                 class="icon-drop" src="../../assets/images/angle-down.png">
        </div>
    </div>

    <div [hidden]="showRepayment?false:true" class="container-payment">
        <div (click)="getListRepaymentFec()" class="cover-icon-fec">
            <img src="../../assets/images/fec-icon-sidebar.png">
        </div>
<!--        <div class="cover-icon-fec"></div>-->
<!--        <div class="cover-icon-fec"></div>-->
    </div>
</div>
<div class="under-sidebar">@2022</div>
<!--<div style="width: 50px; margin: auto; margin-top: 16px !important;">-->
<!--    <select (change)="selectLanguage($event.target.value)">-->
<!--        <option value="vi">vi</option>-->
<!--        <option value="en">en</option>-->
<!--    </select>-->
<!--</div>-->
