

.stt-container {
  font-style: normal;
  position: relative;
  margin: auto;
  width: 477px;
  height: auto;
  border-radius: 20px;
  border: 3px solid #EEEEEE;
  background: #F3F3F3;
  padding: 50px 0px 40px 0px;
  @media screen and(max-width: 480px){
    width: 335px;
    padding: 36px 52px;
    border-radius: 15px;
  }
}

.cover-icon-tick {
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  @media screen {
    height: auto;
  }
  img {
    width: 148.6px;
    height: auto;
    @media screen and(max-width: 480px){
      width: 64px;
      height: auto;
    }
  }
}

.title-status {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  @media screen and(max-width: 480px){
    width: 76%;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px !important;
    margin: auto;
  }
}

.auto-login-note {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #333333;
  margin-top: 16px;
  @media screen and(max-width: 480px) {
    font-size: 10px;
    line-height: 12px;
  }
}

.close-popup {
  position: absolute;
  right: 14px;
  top: 14px;
  @media screen {
    right: 10px;
    top: 10px;
  }
}
