<div class="form-login-container">
    <div class="title-login">{{'forgotPass.titleSetPass' | translate}}</div>
    <div class="note-pattern">{{'register.underTitle' | translate}}</div>
    <div>
        <form [formGroup]="passwordForm" (ngSubmit)="submit()">
            <div formGroupName="password">
                <div class="name-input">{{'forgotPass.password' | translate}}</div>
                <div class="cover-input">
                    <input type="password"
                           class="input-valid"
                           name="passwordFirst"
                           formControlName="passwordFirst"
                           (focusin)="resetMsg()"
                           [style]="(passwordForm.get('password').get('passwordFirst').invalid)&&
                           (passwordForm.get('password').get('passwordFirst').touched)?
                           'border: 1px solid #EE4D2D':null"/>
                    <img *ngIf="passwordForm.get('password').get('passwordFirst').invalid &&
                         passwordForm.get('password').get('passwordFirst').touched"
                         class="icon-invalid" [src]="linkValid">
                </div>
                <div class="under-input">
                    <div *ngFor="let vl of messageInvalidPass">
                        <div class="err"
                             *ngIf="(passwordForm.get('password').get('passwordFirst').hasError(vl.type)&&passwordForm.get('password').get('passwordFirst').touched)">
                            {{vl.message | translate}}
                        </div>
                    </div>
                </div>
                <div class="name-input">{{'forgotPass.confirmPass' | translate}}</div>
                <div class="cover-input">
                    <input type="password"
                           class="input-valid"
                           name="passwordSecond"
                           (focusin)="resetMsg()"
                           formControlName="passwordSecond"
                           [style]="msgConfirmErr!=='' || ((passwordForm.get('password').get('passwordSecond').invalid) &&
                           (passwordForm.get('password').get('passwordSecond').touched))?
                           'border: 1px solid #EE4D2D':null"/>
                    <img *ngIf="msgConfirmErr!=='' || (passwordForm.get('password').get('passwordSecond').invalid &&
                         passwordForm.get('password').get('passwordSecond').touched)"
                         class="icon-invalid" [src]="linkValid">
                </div>
            </div>
            <div class="under-input">
                <div *ngFor="let vl of messageInvalidPass">
                    <div class="err"
                         *ngIf="(passwordForm.get('password').get('passwordSecond').hasError(vl.type)&&passwordForm.get('password').get('passwordSecond').touched)">
                        {{vl.message | translate}}
                    </div>
                </div>
                <div *ngIf="msgConfirmErr!==''">
                    <div class="err">
                        {{msgConfirmErr | translate}}
                    </div>
                </div>
            </div>

            <app-button-dialog class="hidden-480" [contentBtn]="'forgotPass.continue'|translate"
                               [isEnable]="passwordForm.invalid">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'forgotPass.continue'|translate"
                               [isEnable]="passwordForm.invalid"
                               [height]="46"
                               [width]="300">
            </app-button-dialog>
            <div class="loading" *ngIf="loading">
                <app-loading></app-loading>
            </div>
        </form>
    </div>
    <app-item-close-dialog class="close-popup" (click)="closePopup()"></app-item-close-dialog>
</div>
