<div class="container-dropdown">
    <div class="top">
        <div class="top-1" *ngFor="let x of listNote, let i = index" [style]="i==0?'opacity: 1 !important;':null">
            <div class="content overflow-ellipsis">
                {{x.content}}
            </div>
            <div class="action">
                <div class="btn">
                    <button [style]="x.type === 'Giao dịch'?'background-color: #E3BFEE !important':
                                     x.type === 'Mã giảm giá'? 'background-color: #E4BDBB !important':
                                      x.type === 'Tin tức'? 'background-color: #C6EEF6 !important':
                                      x.type === 'Thanh toán'? 'background-color: #B4B7EC !important':'background: #EDDFCF'">
                        {{x.type}}
                    </button>
                </div>
                <div class="text-date">{{x.time}}</div>
            </div>
        </div>
    </div>
    <div class="under">
        <a (click)="openTableNote()">Xem tất cả</a>
    </div>

</div>


