@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(../../../assets/font/Montserrat/Montserrat-Medium.ttf) format("truetype");
}

.container-dropdown {
  background: #F4F6FC;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  height: auto;
  max-height: 600px;
  width: 388px;
  display: flex;
  flex-direction: column;

}

.under {
  font-family: "Montserrat";
  width: 100%;
  height: 41px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
  justify-content: center;
  a {
    cursor: pointer;
    color: #197DDE !important;
  }
}

.top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-1 {
  padding: 20px;
  background: #FFFFFF;
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
}
.top-1:hover {
  opacity: 1;
  background: rgba(203, 218, 236, 0.6);
  box-shadow: inset 0px -1px 0px #E4E4E4;
}

.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-date {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.btn {
  align-items: center;
  text-align: center;
  button {
    font-size: 12px;
    line-height: 14px;
    padding: 0px;
    width: 100px;
    height: 26px;
    font-weight: 700;
    border-radius: 5px;
    color: #22256A;
    text-transform: uppercase;
  }

}
