<div class="container-dropdown">
    <div class="top">
        <div class="top-1" *ngFor="let x of listNote, let i = index"
             [style]="i===0?'border-radius: 20px 20px 0px 0px; background: rgba(203, 218, 236, 0.6)':''">
            <div class="content overflow-ellipsis">
                {{x.content}}
            </div>
            <div class="action">
                <div class="btn">
                    <button [style]="x.type === 'Giao dịch'?'background: #E3BFEE':
                                     x.type === 'Mã giảm giá'? 'background: #E4BDBB':
                                      x.type === 'Tin tức'? 'background: #C6EEF6':
                                      x.type === 'Thanh toán'? 'background: #B4B7EC':'background: #EDDFCF'"
                            (click)="alert()">
                        {{x.type}}
                    </button>
                </div>
                <div class="text-date">{{x.time}}</div>
            </div>
        </div>
    </div>
    <div class="under">
        <a (click)="openTableNote()">Xem tất cả</a>
    </div>

</div>


