<div class="container-dropdown">
    <div class="top">
        <div class="top-1" *ngFor="let x of listNote, let i = index" [style]="i==0?'opacity: 1 !important;':null">
            <div class="content overflow-ellipsis">
                {{x.content}}
            </div>
            <div class="action">
                <div class="btn">
                    <button [class.dd]="x.type === 'Giao dịch'"
                            [class.mgg]="x.type === 'Mã giảm giá'"
                            [class.tt]="x.type === 'Tin tức'"
                            [class.tht]="x.type === 'Thanh toán'">
                        {{x.type}}
                    </button>
                </div>
                <div class="text-date">{{x.time}}</div>
            </div>
        </div>
    </div>
    <div class="under">
        <a (click)="openTableNote()">Xem tất cả</a>
    </div>

</div>


