<div class="container-sidebar-header" (click)="onCloseMenu()"
[style]="authenticationService.currentAccessTokenValue !==null? 'height: auto': null">
    <div class="cover-item">
        <a (click)="backHomePage()" class="text-menu-home">
        {{'header.homePage' | translate}}
    </a>
    </div>
    <div class="cover-item">
        <a class="text-menu" href="#customer">
            {{'header.customer2' | translate}}
        </a>
    </div>
    <div class="cover-item">
        <a class="text-menu" href="#partner">
            {{'header.partner2' | translate}}
        </a>
    </div>
    <div class="cover-item">
        <a class="text-menu child bounce" (click)="openDialogPayFast()">
            {{'header.fastPay2' | translate}}
        </a>
    </div>
<!--    <div class="cover-item">-->
<!--        <a class="text-menu">-->
<!--            {{'header.help2' | translate}}-->
<!--        </a>-->
<!--    </div>-->
    <div class="under-menu hidden-screen-ipad"
         *ngIf = "authenticationService.currentAccessTokenValue === null">
        <div class="cover-btn">
            <button class="btn-login" (click)="openDialogLogin()">
                {{'header.login' | translate}}
            </button>
        </div>
        <div class="cover-btn">
            <button (click)="openDialogRegister()"
                    class="btn-register">
                {{'header.register' | translate}}
            </button>
        </div>
    </div>

</div>





