@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../../assets/font/Montserrat_Alternates/MontserratAlternates-Medium.ttf) format("truetype");
}

.container-right-body {
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-right: 24px;
  font-style: normal;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
}

.title-infor {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
  padding-left: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 120px;
  display: flex;
  align-items: center;
}

.title-register {
  font-family: "MontserratAlternates";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 6px;
}

.des-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}

h1 {
  margin: auto;
  margin-top: 16px !important;
  width: 447px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.bar-step {
  width: 36%;
  margin: auto;
  margin-top: 24px !important;
  position: relative;
}

.text-step {
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #4ECB71;
  width: 49px;
  text-align: center;
}

.cycle-step {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
}

.line-step {
  position: absolute;
  width: 80%;
  height: 0;
  left: 10%;
  top: 24%;
  border-top: 1px solid #C4C4C4;
}

.line-step div {
  margin-top: -1.5px;
  width: 26%;
  border-top: 2px solid #4ECB71;
}

.cover-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 32px 40px 0px 40px;
}

.back-step {
  width: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  img {
    transform: rotate(90deg);
    width: 12.93px;
    height: 7.5px;
    margin-top: 3px;
  }
}



.link-back {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #1E81EB;
  margin-top:10px;
}

.enter-info-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.personal-info-confirm {
  width: 663px;
  background: rgba(154, 147, 147, 0.1);
  border-radius: 10px;
  margin: auto;
  margin-top: 56px !important;
  .title-box {
    height: 62px;
    width: 100%;
    padding-left: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    color: #000000;
    font-family: "MontserratAlternates";
  }
}

.cover-content-info {
  padding: 14px 45px 32px 45px;
}

.ref-info-confirm {
  height: auto;
  width: 34%;
  margin: auto;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 28px !important;
  padding: 5px 24px 5px 32px;
}

.block-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 18px;
}

.info-text-title {
  width: 172px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-family: "MontserratAlternates";
}

.info-content {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.payment-button {
  margin-bottom: 16px;
}
