<div class="hidden-lager-screen">
    <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
</div>
<div class="container-right-body">
    <div class="title-infor hidden-480">{{'inforBnpl.title' | translate}}</div>
    <div>
        <div class="hidden-480">
            <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
        </div>
        <div class="title-register">
            {{'confirmInformation.confirmTitle' | translate}}
        </div>
        <div class="des-form">
            {{'confirmInformation.descriptionForm' | translate}}
        </div>
        <div class="personal-info-confirm">
            <div class="title-box">{{'confirmInformation.labelInformation' | translate}}</div>
            <div class="cover-content-info">
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.fullName' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().name}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.gender' | translate}}
                    </div>
                    <div class="info-content">
                        {{showGender}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.birthday' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().birthday | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.phone' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().phone}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.nid' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().citizenId}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.makeDateNid' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().issueDate | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
                <div *ngIf  = "customerInformationService.customerInfo$.getValue().expirationDate != null"
                     class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.expiryDateNid' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().expirationDate | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="block-info mb-row" style="align-items: baseline;">
                    <div class="info-text-title">
                        {{'confirmInformation.address' | translate}}
                    </div>
                    <div class="info-content">
                        {{address}}
                    </div>
                </div>
                <div class="block-info" style="align-items: baseline;">
                    <div class="info-text-title">
                        {{'confirmInformation.addressTemp' | translate}}
                    </div>
                    <div class="info-content">
                        {{addressTemp}}
                    </div>
                </div>
            </div>
        </div>
        <div class="personal-info-confirm">
            <div class="title-box">{{'confirmInformation.labelRef' | translate}}</div>
            <div class="cover-content-info">
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.personalRef' | translate}}
                    </div>
                    <div class="info-content">
                        {{showRelationship}}
                    </div>
                </div>
                <div class="block-info mb-row">
                    <div class="info-text-title">
                        {{'confirmInformation.fullNameRef' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().name_ref}}
                    </div>
                </div>
                <div class="block-info">
                    <div class="info-text-title">
                        {{'confirmInformation.phoneRef' | translate}}
                    </div>
                    <div class="info-content">
                        {{customerInformationService.customerInfo$.getValue().phone_ref}}
                    </div>
                </div>
            </div>
        </div>

        <div class="cover-btn-confirm">
            <div class="back-step" (click)="backForm()">
                <img src="../../../../assets/images/angle-down.png">
                <div>{{'kyc.back' | translate}}</div>
            </div>
            <app-button-dialog (click)="onSendConfirm()" [height]="41" [width]="149" [fontSize]="14"
                               [contentBtn]="'forgotPass.confirmOtp' | translate"
                               [isEnable]="false"
                                class="hidden-480"></app-button-dialog>
            <app-button-dialog (click)="onSendConfirm()" [height]="40" [width]="112 " [fontSize]="14"
                               [contentBtn]="'forgotPass.confirmOtp' | translate"
                               [isEnable]="false"
                               class="hidden-lager-screen"></app-button-dialog>
        </div>
    </div>
</div>
