<div class="stt-container">
  <div *ngIf = "isStatus" class="cover-icon-tick">
    <img src="../../../assets/images/smile.png">
  </div>
  <div *ngIf = "!isStatus" class="cover-icon-tick">
    <img src="../../../assets/images/cry.png">
  </div>

  <div *ngIf = "messageStatus" class="title-status hidden-480" [innerHTML]="messageStatus | translate"></div>
  <div *ngIf = "messageStatusMobile" class="title-status hidden-lager-screen" [innerHTML]="messageStatusMobile | translate"></div>
  <app-item-close-dialog class="close-popup" (click)="closePopup()"></app-item-close-dialog>
</div>
