<div class="form-login-container">
    <div class="title-login">{{'forgotPass.title' | translate}}</div>
    <div>
        <form [formGroup]="formPhone" (ngSubmit)="submit()" autocomplete="off">
            <div class="name-input">{{'forgotPass.phone' | translate}}</div>
            <div class="cover-input">
                <input type="text"
                       class="input-valid"
                       name="phone_email"
                       formControlName="phone_email"
                       (focusin)="resetMsg()"
                       [style]="formPhone.controls.phone_email.invalid||!isExist?'border: 1px solid #EE4D2D':null"/>
<!--                <img *ngIf="!isExist||(formPhone.controls.phone_email.invalid&&formPhone.controls.phone_email.touched)"-->
<!--                     class="icon-invalid" [src]="linkValid">-->
            </div>
            <div class="under-input">
                <div *ngFor=" let valid of validateMessage">
                    <div class="err"
                         *ngIf="(formPhone.controls.phone_email.hasError(valid.type)&&formPhone.controls.phone_email.touched)">
                        {{valid.message | translate}}
                    </div>
                </div>
                <div *ngIf="!isExist">
                    <div class="err">
                        {{'forgotPass.noteExist' | translate}}
                    </div>
                </div>
            </div>

            <app-button-dialog class="hidden-480" [contentBtn]="'forgotPass.continue' | translate"
                               [isEnable]="formPhone.invalid"
            [width]="300"
            [height]="46">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'forgotPass.continue' | translate"
                               [isEnable]="formPhone.invalid"
            [width]="200"
            [height]="40">
            </app-button-dialog>
            <div class="loading" *ngIf = "loading">
                <app-loading></app-loading>
            </div>
        </form>
    </div>
    <app-item-close-dialog class="close-popup" (click)="closeDialog()"></app-item-close-dialog>

</div>

