@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../../assets/font/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype");
}

.container-right-body {
  min-height: 86vh;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  margin-right: 40px;
  font-style: normal;
  color: #000000;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  position: relative;
  @media screen and(max-width: 480px){
    margin: 24px 20px 48px 20px;
    min-height: auto;
    background: #F3F3F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 32px 24px;
  }
}

.title-infor {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
  padding-left: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 119px;
  display: flex;
  align-items: center;
}

.title-register {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
  @media screen and(max-width: 480px){
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
  }
}

.title-register-des {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  font-family: "MontserratAlternates";
  text-align: center;
  color: #000000;
  margin-top: 12px;
  @media screen and(max-width: 480px){
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
  }
}

h1 {
  //font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

img {
  width: 100px;
  height: 100px;
}

.container-choose {
  height: auto;
  font-style: normal;
  width: 100%;
  text-align: center;
}

.name-input {
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #000000;
}

.name-input input {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.form-content {
  width: 44%;
  margin: 10px 28%;
}

button {
  width: 177px;
  height: 36px;
  background: linear-gradient(180deg, rgba(18, 194, 233, 0.7) 0%, rgba(196, 113, 237, 0.8) 44.79%, rgba(246, 79, 89, 0.8) 100%);
  border-radius: 20px;
  margin: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}

.loading {
  width: 9%;
  margin: auto;
}

.content {
  width: 440px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px !important;
  margin-bottom: 56px !important;
  @media screen and(max-width: 480px){
    flex-direction: column;
    width: 240px;
    height: 106px;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}

.content-1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @media screen and(max-width: 480px){
    width: 100%;
    height: 40px;
  }
}

.img-fe {
  width: 150px;
  height: 15px;
}
.img-home {
  width: auto;
  height: 28px;
}

.tick {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);

  img {
    max-width: 24px !important;
    width: 24px;
    height: 24px;
  }
}
