<div class="hidden-lager-screen">
    <app-bar-process-bnpl [childData]="{widthLine: 25,numberStep:1}"></app-bar-process-bnpl>
</div>
<div class="container-right-body">
    <div class="title-infor hidden-480">{{'inforBnpl.title' | translate}}</div>
    <div class="container-choose">
        <div class="hidden-480">
            <app-bar-process-bnpl [childData]="{widthLine: 25,numberStep:1}"></app-bar-process-bnpl>
        </div>
        <div *ngIf="!loading">
            <div class="title-register">{{'provider.title' | translate}}</div>
            <div class="title-register-des">{{'provider.titleBnpl' | translate}}</div>
            <div class="content">
                <div class="content-1" *ngFor = "let p of listProvider">
                    <div class="tick" (click)="chooseProvider(p.provider)">
                        <img *ngIf = "p.provider == providerChoose&&checkChoose" src="../../../../assets/images/tick-pay-2.png">
                    </div>
                    <img [className]="p.provider === 'Fe Credit'? 'img-fe':'img-home'" [src]="p.url">
                </div>
            </div>
            <div class="cover-btn">
                <app-button-dialog (click)="submit()" [fontSize]="14" [height]="41" [width]="200"
                                   [contentBtn]="'provider.continue' | translate" [isEnable]="!checkChoose"></app-button-dialog>
            </div>
        </div>
        <div class="loading" *ngIf="loading">
            <app-loading></app-loading>
        </div>
    </div>
</div>
