@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../assets/font/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype");
}

.form-login-container {
  font-style: normal;
  position: relative;
  margin: auto;
  width: 496px;
  height: 505px;
  border-radius: 20px;
  border: 3px solid #EEEEEE;
  background: #F3F3F3;
  padding: 48px;
  @media screen and(max-width: 480px){
    width: 335px;
    height: 348px;
    padding: 32px 23.5px;
    border-radius: 15px;
    border: unset;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  }
}

.title-login {
  font-family: "MontserratAlternates";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  margin-bottom: 8px;
  @media screen and(max-width: 480px){
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }
}

.form-cover {
  width: 68%;
  margin: auto;
  height: 36px;
  border: 1px solid rgba(55, 63, 65, 0.5);
  border-radius: 20px;
  margin-bottom: 13px !important;
}

.name-input {
  font-family: "MontserratAlternates";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
  @media screen and(max-width: 480px){
    margin-bottom: 6px;
  }
}

.input-valid{
  background: #FFFFFF;
  border-radius: 50px;
  height: 45px;
  width: 100%;
  border: none;
  padding: 0 20px 0 20px;
}

.under-input {
  min-height: 48px;
  height: auto;
  padding-top: 10px;
  width: 100%;
  @media screen and(max-width: 480px){
    padding-top: 7px;
    min-height: 31px;
  }
}

.link-register {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.link-forget-pw {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  align-items: center;
  text-decoration-line: underline;
  color: #1E81EB;
  margin-top: 8px;
  padding-bottom: 20px;
  cursor: pointer;
  display: flex;
}

.note-container {
  width: 140px;
  position: absolute;
  left: 24px;
  bottom: 30px;
}

.text-note {
  font-style: normal;
  font-weight: normal;
  font-size: 5px;
  line-height: 10px;
  color: #000000;
}

.text-note p {
  margin-top: -5px;
}


.close-popup {
  position: absolute;
  right: 20px;
  top: 20px;
  @media screen and(max-width: 480px){
    right: 12px;
    top: 15px;
  }
}


.invalid-note {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  color: rgba(4, 17, 62, 0.7);
}

.invalid-note label {
  margin-left:24px;
}

.err {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE4D2D;
}


.loading {
  width: 9%;
  margin: auto;
  margin-top: 16px !important;
}

a {
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  color: #397DCE;
  cursor: pointer;
}

.cover-input {
  position: relative;
}

.icon-invalid {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 13px;
}

.note-pattern {
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 38px;
  @media screen and(max-width: 480px){
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px !important;
  }
}

.hidden-480 {
  @media screen and(max-width: 480px){
    display: none;
  }
}
.hidden-lager-screen {
  @media screen and(min-width: 480px){
    display: none;
  }
}



