<div class="form-login-container">
    <div class="title-login">{{'register.titleInputPass' | translate}}</div>
    <div class="note-pattern">{{'register.underTitle' | translate}}</div>
    <div>
        <form [formGroup]="passwordForm" (ngSubmit)="submit()">
            <div formGroupName="password">
                <div class="name-input">{{'register.password' | translate}}</div>
                <div class="cover-input">
                    <input class="input-valid"
                           type="password"
                           name="passwordFirst"
                           formControlName="passwordFirst"
                           (focusin)="resetMsg()"
                           [style]="(passwordForm.get('password').get('passwordFirst').invalid)&&(passwordForm.get('password').get('passwordFirst').touched)?
                           'border: 1px solid #EE4D2D':null"/>

                    <!--                    <img *ngIf="passwordForm.get('password').get('passwordFirst').invalid &&-->
                    <!--                         passwordForm.get('password').get('passwordFirst').touched"-->
                    <!--                         class="icon-invalid" [src]="linkValid">-->
                </div>
                <div class="under-input">
                    <div *ngFor="let vl of messageInvalidPass">
                        <div class="err"
                             *ngIf="(passwordForm.get('password').get('passwordFirst').hasError(vl.type))&&passwordForm.get('password').get('passwordFirst').touched">
                            {{vl.message | translate}}
                        </div>
                    </div>
                </div>
                <div class="name-input">{{'register.confirmPass' | translate}}</div>
                <div class="cover-input">
                    <input class="input-valid"
                           type="password"
                           name="passwordSecond"
                           formControlName="passwordSecond"
                           (focusin)="resetMsg()"
                           [style]="msgConfirmErr!=='' || ((passwordForm.get('password').get('passwordSecond').invalid)&&
                           (passwordForm.get('password').get('passwordSecond').touched))?
                           'border: 1px solid #EE4D2D':null"/>

                    <!--                    <img *ngIf="msgConfirmErr!=='' || (passwordForm.get('password').get('passwordSecond').invalid &&-->
                    <!--                         passwordForm.get('password').get('passwordSecond').touched)"-->
                    <!--                         class="icon-invalid" [src]="linkValid">-->
                </div>
            </div>
            <div class="under-input">
                <div *ngFor="let vl of messageInvalidPass">
                    <div class="err"
                         *ngIf="(passwordForm.get('password').get('passwordSecond').hasError(vl.type))&&passwordForm.get('password').get('passwordSecond').touched">
                        {{vl.message | translate}}
                    </div>
                </div>
                <div *ngIf="msgConfirmErr!==''">
                    <div class="err">
                        {{msgConfirmErr | translate}}
                    </div>
                </div>
            </div>

            <app-button-dialog class="hidden-480" [contentBtn]="'register.button'|translate"
                               [isEnable]="passwordForm.invalid">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'register.button'|translate"
                               [isEnable]="passwordForm.invalid"
                               [width]="300"
                               [height]="46">
            </app-button-dialog>
        </form>
        <div *ngIf="loading" class="loading">
            <app-loading></app-loading>
        </div>
    </div>

    <app-item-close-dialog class="close-popup" (click)="onNoClick()"></app-item-close-dialog>

</div>
