<div class="title-infor hidden-lager-screen">{{'inforBnpl.title' | translate}}</div>
<div class="container-right-body">
    <div class="title-infor hidden-480">{{'inforBnpl.title' | translate}}</div>
    <div class="title-update">{{'forgotPin.titleNid' | translate}}</div>
    <form [formGroup]="formNid" (ngSubmit)=submit()>
        <div class="cover-input">
            <div class="title-small">{{'forgotPin.labelNid' | translate}}</div>
            <input (keypress)="keyPress($event)"
                   class="input-nid" type="text"
                   name="nid" formControlName="nid"
                   autofocus
                   (focusin)="resetMsg()"
                   maxlength="12"
                   (keypress)="keyPress($event)"
                   [style]="(formNid.controls.nid.touched&&formNid.controls.nid.invalid)||messageError!==''?
                     'border: 1px solid #EE4D2D':null">
        </div>
        <div class="invalid-note">
            <label *ngIf="messageError!==''">{{messageError|translate}}</label>
            <div *ngFor=" let valid of validateMessage.nid">
                <label *ngIf="(formNid.controls.nid.hasError(valid.type)&&
                        formNid.controls.nid.touched)">
                    {{valid.message | translate}}
                </label>
            </div>
        </div>
        <div>
            <div class="cover-btn-cf">
                <button [disabled]="formNid.invalid"
                        [style]="formNid.invalid?null:'background:#000000'">
                    {{'forgotPin.continue'|translate}}
                </button>
            </div>
        </div>
    </form>
</div>
