<div class="hidden-lager-screen" style="width: 100%">
    <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
</div>

<div class="container-right-body">
    <div class="title-infor hidden-480">{{'inforBnpl.title' | translate}}</div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div class="hidden-480" style="width: 100%">
            <app-bar-process-bnpl [childData]="{widthLine: 0,numberStep:0}"></app-bar-process-bnpl>
        </div>
        <div class="title-register">
            {{'kyc.titleForm' | translate}}
        </div>
        <div class="des-form hidden-480">
            {{'kyc.descriptionForm' | translate}}
        </div>
        <div [formGroup]="registerForm" class="main-content">
<!-- thông tin cá nhân           -->
            <div class="personal-info">
                <div class="text-form">{{'kyc.inforPerson' | translate}}</div>
                <div class="cover-content-info">
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title">{{'kyc.fullName' | translate}}</div>
                            <input class="input-info" appMarginTop="8" formControlName="name">
                        </div>
                        <div class="block-info">
                            <div class="info-title">{{'kyc.phone' | translate}}</div>
                            <input (keypress)="keyPress($event, InputType.number)" type="text" class="narrow-input-info"
                                   formControlName="phone"
                                   appMarginTop="8"
                                   [ngClass]="{ 'is-invalid': (f['phone'].touched || f['phone'].dirty) && f['phone'].errors }">
                        </div>
                    </div>
                    <div class="name-birth">
                        <div class="flex-info">
                            <div class="block-info-birthday">
                                <div class="info-title">{{'kyc.birthday' | translate}}</div>
                                <input class="narrow-input-info" appMarginTop="8" type="date"
                                       formControlName="birthday">
                            </div>
                            <div></div>
                        </div>
                        <div class="flex-info">
                            <div class="block-info-sex">
                                <div class="info-title" appMarginTop="25">
                                    <ng-container>{{'kyc.sex' | translate}}</ng-container>
                                </div>
                                <div style="position: relative">
                                    <input class="input-info"
                                           [ngClass]="{'is-invalid': (f['sex'].touched || f['sex'].dirty) && f['sex'].errors}"
                                           appMarginTop="8" formControlName="sex" matInput [matAutocomplete]="autoSex">
                                    <mat-autocomplete autoActiveFirstOption #autoSex="matAutocomplete">
                                        <mat-option *ngFor="let option of sexOptions, let i = index"
                                                    [value]="lang == 'en'?sexOptionsEn[i]:option">
                                            {{lang == 'en' ? sexOptionsEn[i] : option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                                <div class="error"
                                     *ngIf="(f['sex'].touched || f['sex'].dirty) && f['sex'].errors">
                                    <span>{{'kyc.validSex' | translate}}</span>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title">
                                {{'kyc.nid' | translate}}
                            </div>
                            <input class="narrow-input-info" appMarginTop="8" formControlName="citizenId">
                        </div>
                        <div class="flex-info">
                            <div class="block-info-issueDate">
                                <div class="info-title">
                                    {{'kyc.issueDate' | translate}}
                                </div>
                                <input class="narrow-input-info" appMarginTop="8" type="date" formControlName="issueDate">
                            </div>
                            <div class="block-info-issueDate">
                                <div class="info-title">
                                    {{'kyc.expiryDate' | translate}}
                                </div>
                                <input class="narrow-input-info" appMarginTop="8" type="date" formControlName="expiryDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            mobile-->
            <div class="personal-info">

            </div>
<!--địa chỉ hiện tại-->
            <div class="personal-info">
                <div class="text-form">{{'kyc.inforAddress' | translate}}</div>
                <div class="cover-content-info">
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title" appMarginTop="25">
                                {{'kyc.city' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="input-info" type="text"
                                       [ngClass]="{'is-invalid': (f['city'].touched || f['city'].dirty) && f['city'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="city"
                                       [matAutocomplete]="autoCity">
                                <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete"
                                                  (optionSelected)="onSelectedCity($event.option.value)">
                                    <mat-option *ngFor="let option of cityFilteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error" *ngIf="(f['city'].touched || f['city'].dirty) && f['city'].errors">
                                <span>{{'kyc.validCity' | translate}}</span>
                            </div>
                        </div>
                        <div class="block-info">
                            <div class="info-title">
                                {{'kyc.district' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="narrow-input-info-2" appMarginTop="8" type="text"
                                       [ngClass]="{'is-invalid': (f['district'].touched || f['district'].dirty) && f['district'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="district"
                                       onClick="this.setSelectionRange(0, this.value.length)"
                                       [matAutocomplete]="autoDistrict">
                                <mat-autocomplete autoActiveFirstOption #autoDistrict="matAutocomplete"
                                                  (optionSelected)="onSelectedDistrict($event.option.value)">
                                    <mat-option *ngFor="let option of districtFilteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error"
                                 *ngIf="(f['district'].touched || f['district'].dirty) && f['district'].errors">
                                <span>{{'kyc.validDistrict' | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title">
                                <ng-container>{{'kyc.ward' | translate}}</ng-container>
                            </div>
                            <div style="position: relative">
                                <input class="narrow-input-info-2" appMarginTop="8" type="text"
                                       [ngClass]="{'is-invalid': (f['ward'].touched || f['ward'].dirty) && f['ward'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="ward"
                                       onClick="this.setSelectionRange(0, this.value.length)"
                                       [matAutocomplete]="autoWard">
                                <mat-autocomplete autoActiveFirstOption #autoWard="matAutocomplete"
                                                  (optionSelected)="onSelectedWard($event.option.value)">
                                    <mat-option *ngFor="let option of wardFilteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error" *ngIf="(f['ward'].touched || f['ward'].dirty) && f['ward'].errors">
                                <span>{{'kyc.validWard' | translate}}</span>
                            </div>
                        </div>
                        <div class="block-info">
                            <div class="info-title" appMarginTop="16">
                                <ng-container> {{'kyc.street' | translate}} </ng-container>
                            </div>
                            <div style="position: relative">
                                <input class="input-info"
                                       [ngClass]="{'is-invalid': (f['street'].touched || f['street'].dirty) && f['street'].errors}"
                                       appMarginTop="8" formControlName="street">
                            </div>

                            <div class="error" *ngIf="(f['street'].touched || f['street'].dirty) && f['street'].errors">
                                <span>{{'kyc.validStreet' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--địa chỉ tạm tú-->
            <div class="personal-info">
                <div class="text-form">{{'kyc.inforAddressTemp' | translate}}</div>
                <div class="cover-content-info">
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title" appMarginTop="25">
                                {{'kyc.city' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="input-info" type="text"
                                       [ngClass]="{'is-invalid': (f['cityTemp'].touched || f['cityTemp'].dirty) && f['cityTemp'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="cityTemp"
                                       [matAutocomplete]="autoCityTemp">
                                <mat-autocomplete autoActiveFirstOption #autoCityTemp="matAutocomplete"
                                                  (optionSelected)="onSelectedCityTemp($event.option.value)">
                                    <mat-option *ngFor="let option of cityFilteredOptionsTemp | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error" *ngIf="(f['cityTemp'].touched || f['cityTemp'].dirty) && f['cityTemp'].errors">
                                <span>{{'kyc.validCity' | translate}}</span>
                            </div>
                        </div>
                        <div class="block-info">
                            <div class="info-title">
                                {{'kyc.district' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="narrow-input-info-2" appMarginTop="8" type="text"
                                       [ngClass]="{'is-invalid': (f['districtTemp'].touched || f['districtTemp'].dirty) && f['districtTemp'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="districtTemp"
                                       onClick="this.setSelectionRange(0, this.value.length)"
                                       [matAutocomplete]="autoDistrictTemp">
                                <mat-autocomplete autoActiveFirstOption #autoDistrictTemp="matAutocomplete"
                                                  (optionSelected)="onSelectedDistrictTemp($event.option.value)">
                                    <mat-option *ngFor="let option of districtFilteredOptionsTemp | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error"
                                 *ngIf="(f['districtTemp'].touched || f['districtTemp'].dirty) && f['districtTemp'].errors">
                                <span>{{'kyc.validDistrict' | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title">
                                <ng-container>{{'kyc.ward' | translate}}</ng-container>
                            </div>
                            <div style="position: relative">
                                <input class="narrow-input-info-2" appMarginTop="8" type="text"
                                       [ngClass]="{'is-invalid': (f['wardTemp'].touched || f['wardTemp'].dirty) && f['wardTemp'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="wardTemp"
                                       onClick="this.setSelectionRange(0, this.value.length)"
                                       [matAutocomplete]="autoWardTemp">
                                <mat-autocomplete autoActiveFirstOption #autoWardTemp="matAutocomplete"
                                                  (optionSelected)="onSelectedWardTemp($event.option.value)">
                                    <mat-option *ngFor="let option of wardFilteredOptionsTemp | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>

                            <div class="error" *ngIf="(f['wardTemp'].touched || f['wardTemp'].dirty) && f['wardTemp'].errors">
                                <span>{{'kyc.validWard' | translate}}</span>
                            </div>
                        </div>
                        <div class="block-info">
                            <div class="info-title" appMarginTop="16">
                                <ng-container> {{'kyc.street' | translate}} </ng-container>
                            </div>
                            <div style="position: relative">
                                <input class="input-info"
                                       [ngClass]="{'is-invalid': (f['streetTemp'].touched || f['streetTemp'].dirty) && f['streetTemp'].errors}"
                                       appMarginTop="8" formControlName="streetTemp">
                            </div>

                            <div class="error" *ngIf="(f['streetTemp'].touched || f['streetTemp'].dirty) && f['streetTemp'].errors">
                                <span>{{'kyc.validStreet' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--thông tin tham chiếu-->
            <div class="personal-info">
                <div class="text-form">{{'kyc.inforRef' | translate}}</div>
                <div class="cover-content-info">
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title" appMarginTop="25">
                                {{'kyc.titleRef' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="input-info" type="text"
                                       [ngClass]="{'is-invalid': (f['personal_title_ref'].touched || f['personal_title_ref'].dirty) && f['personal_title_ref'].errors}"
                                       appMarginTop="8"
                                       matInput
                                       formControlName="personal_title_ref"
                                       onClick="this.setSelectionRange(0, this.value.length)"
                                       [matAutocomplete]="autoPersonalTitle">
                                <div>
                                    <mat-autocomplete autoActiveFirstOption #autoPersonalTitle="matAutocomplete">
                                        <mat-option
                                                *ngFor="let option of personalTitleFilterOptions | async, let i = index"
                                                [value]="lang=='en'?personalTitleOptionsEn[i]:option">
                                            {{lang == 'en' ? personalTitleOptionsEn[i] : option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>


                            <div class="error"
                                 *ngIf="(f['personal_title_ref'].touched || f['personal_title_ref'].dirty) && f['personal_title_ref'].errors">
                                <span>{{'kyc.validTitleRef' | translate}}</span>
                            </div>
                        </div>
                        <div class="block-info">
                            <div class="info-title" appMarginTop="25">
                                <ng-container>{{'kyc.nameRef' | translate}}  </ng-container>
                            </div>
                            <div style="position: relative">
                                <input class="input-info" (keypress)="keyPress($event, InputType.name)"
                                       [ngClass]="{'is-invalid': (f['name_ref'].touched || f['name_ref'].dirty) && f['name_ref'].errors}"
                                       appMarginTop="8" formControlName="name_ref">
                            </div>
                            <div class="error"
                                 *ngIf="(f['name_ref'].touched || f['name_ref'].dirty) && f['name_ref'].errors">
                                <span>{{'kyc.validNameRef' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="name-birth">
                        <div class="block-info">
                            <div class="info-title" appMarginTop="25">
                                {{'kyc.phoneRef' | translate}}
                            </div>
                            <div style="position: relative">
                                <input class="input-info" (keypress)="keyPress($event, InputType.number)"
                                       [ngClass]="{'is-invalid': (f['phone_ref'].touched || f['phone_ref'].dirty) && f['phone_ref'].errors}"
                                       appMarginTop="8" formControlName="phone_ref"
                                       (change)="isCheckPhoneRef=false">
                            </div>
                            <div class="error"
                                 *ngIf="(f['phone_ref'].touched || f['phone_ref'].dirty) && f['phone_ref'].hasError('required')">
                                <span>{{'kyc.validPhoneRef' | translate}}</span>
                            </div>
                            <div class="error"
                                 *ngIf="(f['phone_ref'].touched || f['phone_ref'].dirty) && f['phone_ref'].hasError('pattern')">
                                <span>{{'kyc.validPhoneRefPattern' | translate}}</span>
                            </div>
                            <div class="error" *ngIf="isCheckPhoneRef">
                                <span>{{'kyc.validPhoneRefOverlap' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="cover-note">-->
        <!--            <span class="note-text">{{'kyc.titleNote' | translate}}:</span>-->
        <!--            <span class="red-star">* </span>-->
        <!--            <span class="note-text-2">{{'kyc.contentNote' | translate}} </span>-->
        <!--        </div>-->

        <div class="cover-btn-rg">
            <app-button-dialog
                    [isEnable]="registerForm.invalid"
                    [width]="200"
                    [height]="41"
                    [fontSize]="14"
                    [contentBtn]="'takePhotoNid.continue' | translate"
                    (click)="onContinue()">
            </app-button-dialog>
        </div>
    </div>
</div>

