@font-face {
  font-family: "MontserratAlternates";
  src: local("MontserratAlternates"), url(../../../assets/font/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format("truetype");
}

button:disabled {
  background: rgba(154, 147, 147, 0.1);
}
button:enabled {
  background: #000000;
}

button {
  font-family: "MontserratAlternates";
  height: 46px;
  width: 299px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
  @media screen and(max-width: 480px){
    font-size: 14px;
  }
}

.cover-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
