

button:disabled {
  background: rgba(154, 147, 147, 0.1);
}
button:enabled {
  background: #000000;
}

button {
  font-family: 'Montserrat Alternates', sans-serif;
  height: 46px;
  width: 299px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  @media screen and(max-width: 480px){
    font-size: 14px;
  }
}

.cover-btn-common {
  display: flex;
  align-items: center;
  justify-content: center;
}
