@font-face {
  font-family: 'MontserratBold';
  src: url(../../../assets/font/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

.container-transaction {
  min-height: 86vh;
  background: rgba(247, 247, 247, 0.75);
  border-radius: 20px;
  margin-right: 40px;
  font-style: normal;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-table {
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 40px;
  margin-bottom: 4px;
  box-shadow: inset 0px -1px 0px #E4E4E4;
}


.name-table {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  padding-left: 40px;
  padding-bottom: 40px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.action-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-prev-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(-180deg);
  margin-right: 20px;
  cursor: pointer;
}

.btn-next-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(0deg);
  cursor: pointer;
}

.btn-next-disable {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(-180deg);
  cursor: pointer;
}

.btn-prev-disable {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(0deg);
  cursor: pointer;
  margin-right: 20px;
}
.no-page {
  height: 30px;
  padding-left: 32px;
  padding-right: 19.25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #2F172A;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.cover-change-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 138px;
  height: 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin-right: 20px;
}

table {
  width: 100%;
}

thead {
  height: 40px;
  font-style: normal;
  color: #000000;
  background: #F4F6FC;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
}

thead tr th {

}

tbody {
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

tbody tr {
  height: 56px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #E4E4E4;
}

tbody tr:hover {
  background: rgba(154, 147, 147, 0.1);
}

td {
  text-align: start;
}

.loading {
  width: 9%;
  margin: auto;
  margin-top: 48px !important;
}

.sort-icon-esc {
  transform: rotate(0deg);
  cursor: pointer;
  height: 3.3333334922790527px;
  width: 6.666666507720947px;
}

a {
  cursor: pointer;
  text-decoration-line: underline;
}

.status-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}

.tick-1-none {
  height: 18.38px;
  width: 18.38px;
  border-radius: 3px;
  border: 1px solid #000000;
  margin-left: 46.19px;
}
.bgr-tick {
  background-image: url("../../../assets/images/tick-contract.png");
  background-size: cover;
  border: hidden !important;
}

.btn-action {
  width: 100px;
  height: 26px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  background: #EDDFCF;
  color: #6A5644;
}

.star-icon {
  position: absolute;
  top: 12.5px;
  left: 12px;
  width: 30px !important;
  height: auto;
  cursor: pointer;
}

.icon-del-row {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cover-icon-bar {
  width: 168px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.selection-more-records {
  width: 144px;
  height: 36px;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 21px;
  margin-right: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  background: #ffffff;
  position: relative;
}

.icon-drop-more {
  transform: rotate(90deg);
  width: 5px;
  cursor: pointer;
}

.option-cover {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 144px;
  height: auto;
  text-align: start;
  padding: 6px 12px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
  div{
    height: 20px;
    cursor: pointer;
  }
}

.hidden-480 {
  @media screen and(max-width: 480px){
    display: none;
  }
}

.hidden-lager-screen {
  @media screen and(min-width: 480px){
    display: none;
  }
}

//mobile web

//.item-box {
//  width: 100%;
//  height: 80px;
//  background: #FFFFFF;
//  box-shadow: inset 0px -1px 0px #E4E4E4;
//  padding: 20px;
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  justify-content: space-between;
//}
//
//.content-mobile {
//  width: 224px;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 20px;
//  text-overflow: ellipsis;
//  white-space: normal;
//  display: -webkit-box !important;
//  -webkit-line-clamp: 2;
//}
//
//.btn-mobile {
//  width: 82px;
//  height: 26px;
//  background: #EDDFCF;
//  border-radius: 5px;
//  text-align: center;
//  font-size: 10px;
//  line-height: 12px;
//  white-space: nowrap;
//  font-family: 'MontserratBold';
//}

.dd {
  background-color: #E3BFEE !important;
  color: #5F316B !important;
}

.mgg {
  background-color: #E4BDBC !important;
  color: #602E2D !important;
}

.tt {
  background-color: #C6EEF6 !important;
  color: #3B6975 !important;
}

.tht {
  background-color: #B4B7EC !important;
  color: #22256A !important;
}

.row-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
