<div class="container-transaction hidden-480">
    <div>
        <div class="name-table">{{'note.titleTable' | translate}}</div>
    </div>
    <div class="header-table">
        <div class="cover-icon-bar">
            <img src="../../../assets/images/icon-subtract.png" width="30px" height="30px">
            <img src="../../../assets/images/icon-mail.png" width="30px" height="30px">
            <img src="../../../assets/images/icon-mails.png" width="30px" height="30px">
            <img src="../../../assets/images/trash-icon.png" width="30px" height="30px">
        </div>
        <div class="action-page">
            <div>
                <div class="selection-more-records" (click)="isShow = !isShow">
                    <div style="width: 100%; cursor: pointer" >{{itemChooseMore | translate}}</div>
                    <img class="icon-drop-more" src="../../../assets/images/next-page.png">
                    <div *ngIf = "isShow" class="option-cover">
                        <div *ngFor = "let tr of listItemValue, let i = index" (click)="getManyRecord(tr,$event)">
                            {{listItemText[i] | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="no-page">
                {{1}} - {{3}} of {{300}}
            </div>
            <div class="cover-change-page">
                <div (click)="previousPage()" *ngIf="page !== 1" class="btn-prev-page">
                    <img src="../../../assets/images/next-page.png">
                </div>

                <div *ngIf="page === 1" class="btn-prev-disable">
                    <img src="../../../assets/images/disable-page.png">
                </div>

                <div (click)="nextPage()" *ngIf="page !== totalPage" class="btn-next-page">
                    <img src="../../../assets/images/next-page.png">
                </div>

                <div *ngIf="page === totalPage" class="btn-next-disable">
                    <img src="../../../assets/images/disable-page.png">
                </div>

            </div>
        </div>
    </div>
    <!--    table transaction-->
    <table>
        <tbody>
        <tr class="row-content" *ngFor="let note of listNote, let i = index">
            <td width="70px">
                <div (click)="checkTick(note)" class="tick-1-none"
                     [class.bgr-tick]="note.isCheck"></div>
            </td>
            <td style="position: relative; width: 62px">
                <img (click)="pinNote(note)" class="star-icon" src="../../../assets/images/star-no-pin.png">
                <img (click)="pinNote(note)" class="star-icon" *ngIf="note.isPin" class="star-icon"
                     src="../../../assets/images/star-pin.png">
            </td>
            <td>
                {{note.content}}
            </td>
            <td width="130px">
                <button class="btn-action"
                        [class.dd]="note.type === 'Giao dịch'"
                        [class.mgg]="note.type === 'Mã giảm giá'"
                        [class.tt]="note.type === 'Tin tức'"
                        [class.tht]="note.type === 'Thanh toán'">
                    {{note.type}}
                </button>
            </td>
            <td width="100px">{{note.time}}</td>
            <td width="68px">
                <img class="icon-del-row" src="../../../assets/images/trash-icon.png">
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="loading" class="loading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="errorMgs!==''" style="width: 100%;text-align: center; color: red; font-size: 16px; margin-top: 40px">
        {{errorMgs}}!
    </div>
</div>
<!--mobile web-->
<div class="hidden-lager-screen">
    <div class="item-box" style="height: 5px; padding: 0px; box-shadow: inset 0px -6px 0px #e4e4e7;"></div>
    <div class="item-box" *ngFor="let note of listNote, let i = index">
        <div class="content-mobile">{{note.content}}</div>
        <button class="btn-mobile"
                [class.dd]="note.type === 'Giao dịch'"
                [class.mgg]="note.type === 'Mã giảm giá'"
                [class.tt]="note.type === 'Tin tức'"
                [class.tht]="note.type === 'Thanh toán'">
            {{note.type}}
        </button>
    </div>
</div>
