<div class="form-login-container">
    <div class="title-login">{{'updatePassword.title' | translate}}</div>
<!--    <div class="note-pattern">{{'register.underTitle' | translate}}</div>-->
    <div>
        <form [formGroup]="passwordForm" (ngSubmit)="submit()">
            <div class="name-input">{{'updatePassword.oldPass' | translate}}</div>
            <div class="cover-input">
                <input class="input-valid"
                       [style]="(passwordForm.controls.currentPassword.invalid&&passwordForm.controls.currentPassword.touched)||
                        errWrongPassword!==''?'border: 1px solid #EE4D2D !important':null"
                       type="password"
                       name="currentPassword"
                       formControlName="currentPassword"
                       (change)="resetMsg()"
                       (focusin)="resetMsg()"/>
            </div>
            <div class="under-input">
                <div *ngFor="let vl of validateMessage.currentPassword">
                    <div class="err"
                         *ngIf="(passwordForm.controls.currentPassword.hasError(vl.type))&&passwordForm.controls.currentPassword.touched">
                        {{vl.message | translate}}
                    </div>
                </div>
                <div class="err" *ngIf = "errWrongPassword !== ''">
                    {{errWrongPassword|translate}}
                </div>
            </div>
            <div class="name-input">{{'updatePassword.newPass' | translate}}</div>
            <div class="cover-input">
                <input class="input-valid"
                       [style]="(passwordForm.controls.newPassword.invalid&&passwordForm.controls.newPassword.touched)||
                        errOldNewPassword!==''?'border: 1px solid #EE4D2D !important;':null"
                       type="password"
                       name="newPassword"
                       formControlName="newPassword"
                       (change)="resetMsg()"
                       (focusin)="resetMsg()"/>
            </div>
            <div class="under-input">
                <div *ngFor="let vl of validateMessage.newPassword">
                    <div class="err"
                         *ngIf="(passwordForm.controls.newPassword.hasError(vl.type))&&passwordForm.controls.newPassword.touched">
                        {{vl.message | translate}}
                    </div>
                </div>
                <div class="err" *ngIf = "errOldNewPassword !== ''">
                    {{errOldNewPassword|translate}}
                </div>
            </div>
            <div class="name-input">{{'updatePassword.verifyPass' | translate}}</div>
            <div class="cover-input">
                <input class="input-valid"
                       type="password"
                       [style]="(passwordForm.controls.verifyPassword.invalid&&passwordForm.controls.verifyPassword.touched)||
                        errConfirmPassword!==''?'border: 1px solid #EE4D2D !important;':null"
                       name="verifyPassword"
                       formControlName="verifyPassword"
                       (change)="resetMsg()" (focusin)="resetMsg()"/>
            </div>
            <div class="under-input">
                <div *ngFor="let vl of validateMessage.verifyPassword">
                    <div class="err"
                         *ngIf="(passwordForm.controls.verifyPassword.hasError(vl.type))&&passwordForm.controls.verifyPassword.touched">
                        {{vl.message | translate}}
                    </div>
                </div>
                <div class="err" *ngIf = "errConfirmPassword !== ''">
                    {{errConfirmPassword|translate}}
                </div>
            </div>
            <app-button-dialog class="hidden-480" [contentBtn]="'updatePassword.button'|translate"
                               [isEnable]="passwordForm.invalid">
            </app-button-dialog>
            <app-button-dialog class="hidden-lager-screen" [contentBtn]="'updatePassword.button'|translate"
                               [isEnable]="passwordForm.invalid"
                               [width]="200"
                               [fontSize]="14"
                               [height]="40">
            </app-button-dialog>
        </form>
<!--        <div *ngIf="loading" class="loading">-->
<!--            <app-loading></app-loading>-->
<!--        </div>-->
    </div>

    <app-item-close-dialog class="close-popup" (click)="closePopup()"></app-item-close-dialog>

</div>
