@font-face {
  font-family: 'MontserratBold';
  src: url(../../../assets/font/Montserrat/Montserrat-Bold.ttf) format("truetype");
}

.item-box {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #E4E4E4;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-mobile {
  font-family: 'Montserrat', sans-serif;
  width: 224px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
}

.btn-mobile {
  font-family: 'MontserratBold';
  width: 82px;
  height: 26px;
  background: #EDDFCF;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  white-space: nowrap;
}

.dd {
  background-color: #E3BFEE !important;
  color: #5F316B !important;
}

.mgg {
  background-color: #E4BDBC !important;
  color: #602E2D !important;
}

.tt {
  background-color: #C6EEF6 !important;
  color: #3B6975 !important;
}

.tht {
  background-color: #B4B7EC !important;
  color: #22256A !important;
}
