<div class="stt-container">
  <div *ngIf = "!isErrorRegister" class="cover-icon-tick">
    <img src="../../../assets/images/smile.png">
  </div>
  <div *ngIf = "isErrorRegister" class="cover-icon-tick">
    <img src="../../../assets/images/cry.png">
  </div>

  <div *ngIf = "!isErrorRegister" class="title-status">{{'register.titleSttTrue' | translate}}</div>
  <div *ngIf = "isErrorRegister" class="title-status">{{'register.titleSttFalse' | translate}}</div>

  <div class="auto-login-note">
    {{'register.autoLogin' | translate}} {{countDown}}s
  </div>
  <app-item-close-dialog class="close-popup" (click)="onNoClick()"></app-item-close-dialog>
</div>

