

.stt-container {
  font-style: normal;
  position: relative;
  margin: auto;
  width: 515px;
  height: 378px;
  border-radius: 20px;
  border: 3px solid #EEEEEE;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12);
  background: #F3F3F3;
  padding: 96px 0px 40px 0px;
  @media screen and(max-width: 480px){
    width: 335px;
    height: auto;
    padding: 36px 46px;
    border-radius: 15px;
  }
}

.cover-icon-tick {
  width: 149px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  @media screen {
    height: auto;
  }
  img {
    width: 149px;
    height: auto;
    @media screen and(max-width: 480px){
      width: 64px;
      height: auto;
    }
  }
}

.title-status {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  @media screen and(max-width: 480px){
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.auto-login-note {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #333333;
  margin-top: 16px;
  @media screen and(max-width: 480px) {
    font-size: 10px;
    line-height: 12px;
    margin-top: 8px;
  }
}

.here {
  color: #197DDE;
  cursor: pointer;
}

.close-popup {
  position: absolute;
  right: 18px;
  top: 18px;
  @media screen {
    right: 10px;
    top: 10px;
  }
}
